<!DOCTYPE html>
<html>
<head>
    <title>Social Recipe</title>

    <% include parts/headers.ejs %>

</head>
<body>

<% include parts/toolbar.ejs %>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome on Social Recipe !</h1>
        <p>Please select one of the available links on top navigation bar to start browsing this database ...</p>
    </div>
</div>

</body>
</html>
