<!DOCTYPE html>
<html>
<head>
    <title>Social Recipe</title>
    <% include parts/headers.ejs %>

</head>
<body>

    <% include parts/toolbar.ejs %>

    <div class="container">
        <div id="search" class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search" id="search-addon"></span>
            <input type="text" class="form-control" placeholder="Search" aria-describedby="search-addon" oninput="search_value_temp('menu_name', this.value, 'id-menu', 'id_menu');">
        </div>

        <div class="row">
            <% for(let i=0;i<rows.length;i++){ %>
            <div id-menu="<%= rows[i]['id_menu'] %>" class="col-sm-5 col-md-3 format-size">
                <div class="thumbnail">
                    <img src="images/meal.jpeg" alt="Meal">
                    <div class="caption">
                        <h3><%= rows[i]['menu_name'] %></h3>
                        <p>SOME TEXT</p>
                        <div style="text-align:center;width:100%;">
                            <p><a href="/menu?id=<%= rows[i]['id_menu'] %>" class="btn btn-primary" role="button">See more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>
</html>