<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Social Recipe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="<% if(this.home) { %> active <% } %>"><a href="/">Home</a></li>
                <li class="<% if(this.menus) { %> active <% } %>"><a href="/menu">Menus</a></li>
                <li class="<% if(this.recipes) { %> active <% } %>"><a href="/recipe">Recipes</a></li>
                <li class="<% if(this.ingredients) { %> active <% } %>"><a href="/ingredient">Ingredients</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(session.username) { %>
                <li><p class="navbar-text">Logged as <%= session.username %></p></li>
                <li><a href="/auth?so=true">Sign out</a></li>
                <li><a href="/auth?del=true">Remove account</a></li>
                <% }else{ %>
                <li><a href="#" data-toggle="modal" data-target="#authentication">Sign in</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="authentication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-label">Sign in to SocialRecipe</h4>
            </div>
            <form action="/auth" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pseudo">Pseudo</label>
                        <input name="name" type="text" class="form-control" id="pseudo" aria-describedby="pseudoHelp"
                               placeholder="Enter your pseudo ...">
                        <small id="pseudoHelp" class="form-text text-muted">Give only the pseudo of a registered user
                            ...
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#signup" style="float:left;">Sign Up</button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-label">Sign up !</h4>
            </div>
            <form action="/auth" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pseudo">Pseudo</label>
                        <input name="new_user" type="text" class="form-control" id="pseudo" aria-describedby="pseudoHelp"
                               placeholder="Enter your pseudo !">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>