<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Social Recipe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="<% if(this.home) { %> active <% } %>"><a href="/">Home</a></li>
                <li class="<% if(this.menus) { %> active <% } %>"><a href="/menu">Menus</a></li>
                <li class="<% if(this.recipes) { %> active <% } %>"><a href="/recipe">Recipes</a></li>
                <li class="<% if(this.ingredients) { %> active <% } %>"><a href="/ingredient">Ingredients</a></li>
            </ul>
        </div>
    </div>
</nav>