body, html {
  height: 100%;
  margin: 0;
}

a {
  color:black;
  text-decoration:none;
}

a:hover{
  text-decoration:none;
  color:black;
}

.centered{
  margin-left:10%;
  margin-right:10%;
  width:80%;
  height:100%;
  text-align:center;
}

.paper-list-item{
  max-width:400px;
  max-height:300px;
  text-align:center;
  margin:25px;
}